<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css')}}">
  <title>Breast Cancer Diagnosis</title>
</head>

<body>
  <div class="relative overflow-hidden">
    <div class="space-x-8 px-4 py-2 bg-gray-200">
      <a href="{{url_for('login')}}" class="font-semibold text-gray-500 hover:text-gray-900" >Login</a>
      <a href="{{url_for('register')}}" class="font-semibold text-gray-500 hover:text-gray-900">Register</a>
    </div>

    <div class="mt-10 mx-auto max-w-7xl">
      <div class="mt-40 w-22 ml-4">
        <h1 class="text-6xl font-extrabold tracking-tight ">Breast Cancer <br>Diagnosis</h1>
        <h1 class="text-purple-600 font-extrabold text-4xl">Support Vector Machine</h1>
        <p class="mt-8 text-gray-500 w-1/2">
            Breast Cancer Diagnosis will be done by entering the required value of the breast mass.     <br>It will help gaining confidence in result from traditional methods.
        </p>
      </div>
    </div>

    <div class="mt-2 ml-4" action="{{ url_for('login') }}" method="POST">
      <a href="{{url_for('login')}}" class="bg-purple-600 text-white rounded">
        <button class="px-8 py-4">Predict</button>
      </a>
    </div>

    <div class="absolute inset-y-0 right-0 w-1/2 mt-10">
      <img class="h-full w-full object-cover " src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80">
  </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

</body>

</html>
