<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css')}}">
        <style>
            .body-bg {
                background-color: #9921e8;
                background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
            }
        </style>
    </head>

    <body class="body-bg min-h-screen overflow-hidden">

      <div class="p-4 xl:w-1/2 mx-auto 2xl:p-40">
        <header class="text-center">
          <h1 class="text-4xl font-bold text-white">Breast Cancer Prediction</h1>
        </header>

        <main class="bg-gray-100 mt-8 rounded-lg">
          <section class="px-12 py-4 2xl:pt-16">
            <h2 class="text-2xl font-semibold">Register</h2>
            <p>Make new account</p>
          </section>

          <div id="msg" class="ml-12 pb-2 text-red-500">{{  msg  }}</div>

          <form class="grid grid-cols-2 gap-4" action="{{ url_for('register' )}}" method="post" >
            <div class="flex flex-col ml-12 rounded bg-gray-300">
                <label class="font-semibold p-4" for="fullname">Your Name</label>
                <input type="text" class="bg-gray-300 text-gray-700 px-4 pb-2 focus:outline-none border-b-4 border-gray-400 focus:border-purple-600 transition duration-500" name="fullname" placeholder="Enter your fullname" id="fullname" required>
            </div>

            <div class="flex flex-col mr-12 bg-gray-300 rounded">
                <label class="font-semibold p-4" for="email">Email</label>
                <input type="text" class="px-4 pb-2 bg-gray-300  focus:outline-none border-b-4 border-gray-400 focus:border-purple-600 transition duration-500" name="email" placeholder="Enter your email" id="email" required>
            </div>

            <div class="flex flex-col ml-12 bg-gray-300 rounded">
              <label class="font-semibold pl-4 pt-4 pb-6 " for="username">Username</label>
              <input type="text" class="focus:outline-none bg-gray-300 border-b-4 border-gray-400 py-2 px-4 focus:border-purple-600 transition duration-500" name="username" placeholder="Enter your username" id="username" required>
            </div>

            <div class="flex flex-col mr-12 bg-gray-300 rounded">
                <label class="font-semibold pl-4 pt-4 pb-6" for="password">Password</label>
                <input type="password" class="focus:outline-none bg-gray-300 border-b-4 border-gray-400 py-2 px-4 focus:border-purple-600 transition duration-500" name="password" placeholder="Enter your password" id="password" required>
            </div>

            <input type="submit" value="Register" class="col-span-2 mx-12 mb-12 bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"  name="">
        </form>
          
        </main>

        <div class="flex justify-center mt-4 text-white" >
          <p>Already have an account ?
            <a href="{{ url_for('login') }}" class="font-bold hover:underline">Login</a>
            <p class="mx-2 font-extrabold">|</p>
            <a href="{{ url_for('homepage') }}" class="font-bold hover:underline" >Home</a>
          </p> 
        </div>
      
      </div>
       
            

         
    

            

         

       

        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>

        
       
